:root {
    --color-navy-1: #1F2937;
    --color-navy-2: #273549;
    --color-purple-1: #6943FF;
    --color-purple-2: #B295FF;
    --color-purple-3: #CCC1FF;
}

body {
    background-color: var(--color-navy-1);
    color: white;
    font-family: Inter, sans-serif;
}

h1, h2 {
    margin: 0;
}

h1 {
    font-size: 28px;
}

h2 {
    color: var(--color-purple-3);
    font-size: 20px;
}

p {
    font-size: 14px;
}

input {
    font-size: 58px;
    width: 120px;
    background-color: var(--color-purple-1);
    border: 2px solid var(--color-purple-2);
    border-radius: 5px;
    color: white;
    text-align: center;
    font-weight: 600;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.header-container {
    background-color: var(--color-purple-1);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conversion-output {
    background-color: var(--color-navy-2);
    width: 500px;
}